---
import Badge from "../ui/Badge.astro"
---

<section id="areas" class="py-5 my-5">
    <header class="d-flex justify-content-center align-items-center flex-column text-center mb-4">
        <h2 class="fw-bold col-6 mb-3">Lessons revolve around 4 areas</h2>
        <p class="col-6">Diverse lessons around 4 subjects: Math, literature, English, drawing help children improve their comprehensive knowledge</p>
    </header>
    <section class="d-flex justify-content-center align-items-center gap-5">
        <Badge title="Math" icon="bi-grid" color="primary" />
        <Badge title="Literature" icon="bi-book-fill" color="warning" />
        <Badge title="English" icon="bi-translate" color="danger" />
        <Badge title="Art" icon="bi-pen" color="info" />
    </section>
</section>